.about{
    padding: 5rem 0;
    background-color: rgb(255, 255, 255);
    /* text-align: left; */
}
h1{
    font-size: 2rem;
    font-weight: 600;
}
hr{
    background-color: #4DA943;
    width: 5%;
    height: 0.3rem;
    border-radius: 1rem;
    position: absolute;
    left: 47.5%;
    margin-top: 1rem;
}

 
.body{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.photo{
    width: 50%;
    height: 50%;
    padding: 2%;
}
.text {
    width: 100%;
    font-size: 1.2rem;
    padding: 30px;
    font-weight: 200;
}
@media screen and (max-width: 980px) {
    h1{ 
        padding-top: 4rem;
        font-size: 4rem;
        font-weight: 600;
    }   
    hr{
        background-color: #4DA943;
        width: 10%;
        height: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        left: 45%;
        margin: 1rem 0;
    }  
    .body{
        height: 70vh;
        display: block;
        align-items: center;
        /* position: relative; */
    }
    .photo{
        width: 50%;
        height: 20vh;
        padding: 2%;
        margin: 8rem auto 4rem auto;
    }
    .text {
        width: 80%;
        font-size: 2.5rem;
        text-align: left;
        font-weight: 200;
        color: rgb(86, 86, 86);
        position: relative;
        left: 10%;  
    }

}