.contact{
    padding: 3rem 0 0 0;
    background-color: rgb(244, 244, 244);
    height: 30vh;
}
.btn{
    position: relative;
    top: 1.5rem;
}

.contact .btn {
    background: #4DA943;
    background-image: -webkit-linear-gradient(top, #4DA943, #288f1d);
    background-image: -moz-linear-gradient(top, #4DA943, #288f1d);
    background-image: -ms-linear-gradient(top, #4DA943, #288f1d);
    background-image: -o-linear-gradient(top, #4DA943, #288f1d);
    background-image: linear-gradient(to bottom, #4DA943, #288f1d);
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #51b046;
    background-image: -webkit-linear-gradient(top, #51b046, #4DA943);
    background-image: -moz-linear-gradient(top, #51b046, #4DA943);
    background-image: -ms-linear-gradient(top, #51b046, #4DA943);
    background-image: -o-linear-gradient(top, #51b046, #4DA943);
    background-image: linear-gradient(to bottom, #51b046, #4DA943);
    text-decoration: none;
  }


.footer{
    /* margin: 2rem 0 auto; */
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 3rem;
    padding-top: 10vh;

  }
  .footer p{
    margin: 0;
    padding: 0.5rem;
  }
  .p1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;    
    color: rgb(109, 109, 109);
  }
  .p2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;   
    color: #4DA943;
    position: relative;
    left: 20%;
    text-decoration: none;
  }
  .p3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;    
    color: #4DA943;
    text-decoration: none;
  }
  
  @media screen and (max-width: 980px) {
    .contact{
      padding: 3rem 0 0 0;
      background-color: rgb(244, 244, 244);
      height: 13vh;
  }
  .btn{
      position: relative;
      top: 1.5rem;
  }
  
  .contact .btn {
      background: #4DA943;
      background-image: -webkit-linear-gradient(top, #4DA943, #288f1d);
      background-image: -moz-linear-gradient(top, #4DA943, #288f1d);
      background-image: -ms-linear-gradient(top, #4DA943, #288f1d);
      background-image: -o-linear-gradient(top, #4DA943, #288f1d);
      background-image: linear-gradient(to bottom, #4DA943, #288f1d);
      -webkit-border-radius: 29;
      -moz-border-radius: 29;
      border-radius: 29px;
      font-family: Arial;
      color: #ffffff;
      font-size: 2rem;
      padding: 20px 40px 20px 40px;
      text-decoration: none;
    }
    
    .btn:hover {
      background: #51b046;
      background-image: -webkit-linear-gradient(top, #51b046, #4DA943);
      background-image: -moz-linear-gradient(top, #51b046, #4DA943);
      background-image: -ms-linear-gradient(top, #51b046, #4DA943);
      background-image: -o-linear-gradient(top, #51b046, #4DA943);
      background-image: linear-gradient(to bottom, #51b046, #4DA943);
      text-decoration: none;
    }
  
  
  .footer{
      background-color: rgb(244, 244, 244);
      display: flex;
      align-items: center; 
      justify-content: space-between;
      margin: 3rem;
      padding-top: 3vh;
  
    }
    .footer p{
      margin: 0;
      padding: 0.5rem;
    }
    .p1{
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 1.35rem;    
      color: rgb(109, 109, 109);
    }
    .p2{
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 1.35rem;   
      color: #4DA943;
      position: relative;
      left: 3%;
      text-decoration: none;
    }
    .p3{
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 1.35rem;    
      color: #4DA943;
      text-decoration: none;
    }
    
}