.solution{
    padding: 5rem 0 0 0;
    background-color: rgb(255, 255, 255);
    height: 105vh;
}
h1{
    font-size: 2rem;
    font-weight: 600;
}
hr{
  background-color: #4DA943;
  width: 5%;
  height: 0.3rem;
  border-radius: 1rem;
  position: absolute;
  left: 47.5%;
  margin-top: 1rem;
}
.first{
    
    display: flex;
    align-items: center;
    position: relative;
}
.photo-sol{
  width: 28%;
  height: 70%;
  padding: 6%;
  border-radius: 100%;
}
.text-sol {
    width: 90%;
    font-size: 1.4rem;
    padding: 50px;
    font-weight: 200;
}

.wrapper{
  margin:0 3rem;
}
  
   .button{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 0 5rem;
   }
  .wrapper a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600px;
    font-family: sans-serif;
    text-decoration: none;
    color: #4DA943;
    border: 2px solid #4DA943;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .45s;
  }
  
  .wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4DA943;
    transition: all .45s;
  }
  
  .wrapper a:hover{
    color: #fff;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }

  @media screen and (max-width: 980px) {
    h1{ 
        padding-top: 4rem;
        font-size: 4rem;
        font-weight: 600;
    }   
    hr{
        background-color: #4DA943;
        width: 10%;
        height: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        left: 45%;
        margin: 1rem 0;
    }  
    .first{
        height: 62vh;
        display: block;
        align-items: center;
        position: relative;
    }
    .photo-sol{
        width: 60%;
        height: 30vh;
        padding: 2%;
        margin: 8rem auto 4rem auto;
    }
    .text-sol {
        width: 80%;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 200;
        color: rgb(86, 86, 86);
        position: relative;
        left: 5%;
    }

    .wrapper{
      margin:0 3rem;
    }
      
       .button{
        display: flex;
        align-items: center; 
        justify-content: space-between;
        margin: 0 5rem;
       }
      .wrapper a{
        display: block;
        width: 300px;
        height: 50px;
        line-height: 40px;
        font-size: 2rem;
        font-weight: 600px;
        padding-top: 0.6rem;
        font-family: sans-serif;
        text-decoration: none;
        color: #4DA943;
        border: 2px solid #4DA943;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .45s;
      }
      
      .wrapper a span{
        position: relative;
        z-index: 2;
      }
      
      .wrapper a:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #4DA943;
        transition: all .45s;
      }
      
      .wrapper a:hover{
        color: #fff;
      }
      
      .wrapper a:hover:after{
        width: 100%;
      }
}
  